body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

h1 {
    color: aquamarine;
}

.text-color {
    color:aqua ;
}

.none {
    display: none;
}

.block {
    display: block;
}